venv3.7
outputs/*
.idea/*
spring_synthetic_data.iml
.DS_Store
__pycache__/*
*/__pycache__/*
*/__pycache__
__pycache__
paper/*.aux
paper/*.synctex.gz
paper/*.pdf
paper/*.log
paper/*.bbl
paper/*.blg
paper/*.out
syn_data_files/
notebooks_local/


